!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #EDEDED
xscreensaver.Dialog.background:         #202020
xscreensaver.Dialog.topShadowColor:     #202024
xscreensaver.Dialog.bottomShadowColor:  #202024
xscreensaver.Dialog.Button.foreground:  #EDEDFF
xscreensaver.Dialog.Button.background:  #444
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #EDEDFF
xscreensaver.Dialog.text.background:    #444
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #A9B7C4
xscreensaver.passwd.thermometer.background:  #202020
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 192
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

Xcursor.size: 48
Xcursor.theme: capitaine-cursors

URxvt.font: xft:Monospace:pixelsize=12:style=regular:antialias=true:hinting=true,xft:Symbola,xft:Noto Emoji
URxvt*scrollstyle: plain
URxvt*scrollBar_right: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 100000
URxvt.urgentOnBell: True

URxvt*internalBorder: 0
URxvt.borderColor: #e6e9ed
URxvt.background: #f5f7fa

! Configuration for https://github.com/muennich/urxvt-perls
! and https://github.com/richo/rxvt-unicode/blob/master/src/perl/confirm-paste
!URxvt*perl-ext-common: confirm-paste,default,clipboard-shortcuts,url-select,keyboard-select
URxvt*perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.iso14755 : false

URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate



! clipboard
! update clipboard whenever primary gets updated
URxvt.clipboard.autocopy: false
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! keyboard-select
URxvt.keysym.M-a: perl:keyboard-select:activate
URxvt.keysym.M-r: perl:keyboard-select:search


! BLACK
*color0:      #434a54
*color8:      #656d78

! WHITE
*color7:      #c8c8c8
*color15:     #f5f7fa

! RED
*color1:      #da4453
*color9:      #ed5565

! YELLOW
*color3:      #f6bb42
*color11:     #ffce54

! GREEN
*color2:      #8cc152
*color10:     #a0d468

! CYAN
*color6:      #37bc98
*color14:     #48cfad

! BLUE
*color4:      #3bafda
*color12:     #4fc1e9

! MAGENTA
*color5:      #967adc
*color13:     #ac92ec
