files = [emojis, currency_symbols, latin-1_supplement, latin_extended-a, katakana, katakana_phonetic_extensions, hiragana, greek_and_coptic, geometric_shapes, geometric_shapes_extended, general_punctuation, combining_diacritical_marks, arrows, cyrillic, counting_rod_numerals, superscripts_and_subscripts, number_forms, miscellaneous_technical, miscellaneous_symbols, miscellaneous_symbols_and_pictographs, miscellaneous_symbols_and_arrows, mathematical_operators, symbols_for_legacy_computing]
rofi-args = -matching regex
typer = xdotool
